/.idea/
/.vs/
/OutliersSearch.sln.DotSettings.user
/OutliersLib/obj/
/OutliersLib/bin/
/OutliersApp/bin/
/OutliersApp/obj/
/OutliersApi/bin/
/OutliersApi/obj/
/OutliersApi/.config/
/OutliersApi/.idea/
/OutliersApi/Properties/
/OutliersApp/.vs/
/OutliersApp/Properties/
/OutliersApi/.vs/outliers-api/
