/.idea/
/.vs/
/outliers-lib/bin/
/outliers-lib/obj/
/outliers-api/.config/
/outliers-api/.idea/
/outliers-api/.vs/
/outliers-api/bin/
/outliers-api/obj/
/outliers-api/outliers-api.csproj
/app/obj/
/app/bin/
/app/.vs/
