@using OutliersLib.ParameterTypes
@namespace OutliersApp.Components.Parameters

<div class="input-group" style="margin-bottom: 8px;">
    <div class="input-group-prepend">
        <span class="input-group-text">@(FormAsDouble.FullName == string.Empty ? SettingsForm.Key : FormAsDouble.FullName)</span>
    </div>
    <input type="text" placeholder="значение_по_умолчанию=@FormAsDouble.Default" value="@FormAsDouble.StringValue" class="form-control @(FormAsDouble.IsValid ? "" : "is-invalid")" @oninput=@(e => FormAsDouble.SetValue(e.Value.ToString())) required/>
    <div class="invalid-feedback">
        @FormAsDouble.ErrorMessage
    </div>


    @if (FormAsDouble.IsCustom)
    {
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" @onclick=@(async e => await OnDelete.InvokeAsync(SettingsForm))>Удалить</button>
        </div>
    }
</div>


@code{

    [Parameter]
    public EventCallback<KeyValuePair<string, ParameterBase>> OnDelete { get; set; }

    [Parameter]
    public KeyValuePair<string, ParameterBase> SettingsForm { get; set; }

    private DoubleParameterModel FormAsDouble
    {
        get => SettingsForm.Value as DoubleParameterModel;
    }

}