@using OutliersLib
@using OutliersApp.Models.Parameters
@using OutliersApp.Models.ParameterModels
@namespace OutliersApp.Components

<div class="input-group" style="margin-bottom: 8px;">
    <div class="input-group-prepend">
        <span class="input-group-text">@SettingsForm.CoolName</span>
    </div>
    <input type="text" placeholder="значение_по_умолчанию=@SettingsForm.Default" class="form-control @(SettingsForm.IsValid ? "" : "is-invalid")" @oninput=@(ChangeValue) required/>
    @if (!SettingsForm.IsCustom)
    {
        <div class="invalid-feedback">
            Введите число в промежутке от @SettingsForm.Min до @SettingsForm.Max.
        </div>
    }
    else
    {
        <div class="invalid-feedback">
            Введите число.
        </div> 
    }
    
    @if (SettingsForm.IsCustom)
    {
        <div class="input-group-append">
             <button class="btn btn-outline-secondary" type="button" @onclick=@(async e => await OnDelete.InvokeAsync(SettingsForm))>Удалить</button>
        </div>
    }
</div>


@code{
    [Parameter]
    public EventCallback<ParameterModelBase> OnDelete { get; set; }
    
    [Parameter]
    public DoubleParameterModel SettingsForm { get; set; }

    public void ChangeValue(ChangeEventArgs args)
    {
        string inputValue = args.Value.ToString();

        if (inputValue == string.Empty)
        {
            if (SettingsForm.IsCustom)
            {
                SettingsForm.IsValid = false;
                return;
            }
            SettingsForm.Value = SettingsForm.Default;
        }
        else
        {
            try
            {
                SettingsForm.Value = double.Parse(inputValue);
            }
            catch
            {
                SettingsForm.IsValid = false;
                return;
            }
        }

        SettingsForm.IsValid = true;
    }

}