@using outliers_lib
@using static Data.Utils

<div class="input-group" style="margin-bottom: 8px;">
    <div class="input-group-prepend">
        <span class="input-group-text">@Item.Key</span>
    </div>
    <input type="text" class="form-control @(IsValidDouble(Mod.Params[Item.Key], Item.Value) ? "is-valid" : "is-invalid")" @oninput=@(e => ChangeValue(e, Item, Mod)) required/>
    <div class="invalid-feedback">
        Число должно быть в промежутке от @Item.Value.Min до @Item.Value.Max.
    </div>
</div>


@code{

    [Parameter]
    public KeyValuePair<string, Parameters> Item { get; set; }

    [Parameter]
    public Module Mod { get; set; }

}