@using OutliersApp.Models
<div class="input-group mb-4">
    <textarea class="form-control" aria-label="With textarea" @bind="@UserInstance.ValuesString" placeholder="Введите значения..."></textarea>
</div>

@code{

    [Parameter]
    public FormModel UserInstance { get; set; }

}