@using OutliersLib
@using OutliersApp.Data


<div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customControlValidation1" @onchange="OnChange" checked="@SettingsForm.Value">
    <label class="custom-control-label" for="customControlValidation1">@SettingsForm.Name</label>
</div>

@*TODO Сделать зависимость id От ID*@

@code
{
    [Parameter]
    public BoolSettingForm SettingsForm { get; set; }

    public void OnChange(ChangeEventArgs args)
    {
        string inputValue = args.Value.ToString();
        try
        {
            SettingsForm.Value = bool.Parse(inputValue);
        }
        catch
        {
            SettingsForm.IsValid = false;
            return;
        }

        SettingsForm.IsValid = true;
    }
}