@using OutliersLib
@using Data


<div class="input-group" style="margin-bottom: 8px;">
    <div class="input-group-prepend">
        <span class="input-group-text">@SettingsForm.Name</span>
    </div>
    <input type="text" placeholder="значение_по_умолчанию=@SettingsForm.Default" class="form-control @(SettingsForm.IsValid ? "" : "is-invalid")" @oninput=@(ChangeValue) required/>
    <div class="invalid-feedback">
        Введите число в промежутке от @SettingsForm.Min до @SettingsForm.Max.
    </div>
</div>


@code{

    [Parameter]
    public DoubleSettingForm SettingsForm { get; set; }

    public void ChangeValue(ChangeEventArgs args)
    {
        string inputValue = args.Value.ToString();

        if (inputValue == string.Empty)
        {
            SettingsForm.Value = SettingsForm.Default;
        }
        else
        {
            try
            {
                SettingsForm.Value = double.Parse(inputValue);
            }
            catch
            {
                SettingsForm.IsValid = false;
                return;
            }
        }

        SettingsForm.IsValid = true;
    }

}