@page "/"



@* <h1>Hello, world!</h1> *@
<div class="container bg-light border rounded p-3 shadow">
    <FormPage></FormPage>
</div>
@* Welcome to your new app. *@

@* <SurveyPrompt Title="How is Blazor working for you?" /> *@